// @font-face {
//   font-family: 'Noto Serif SC';
//   src: url('../font/NotoSansHans-Light.otf');
// }

body {
  font-family: 'Noto Serif SC';
  font-size: 1em;
}

a {
  display: block;
}

.title {
  cursor: pointer;
}

li.title:hover {
  background-color: #eee;
}

.panel {
  border-radius: 0;
}

.panel-default > .panel-heading {
  background-image: none;
  background-color: #fff;
}

.navbar-default {
  background-image: none;
  background-color: #fff;
  box-shadow: none;
}
